<form class="upload" method="get" action="/uploadlocal">
    서울 : <input type"text" name="seoul"> <br>
    부산 : <input type"text" name="busan"> <br>
    대구 : <input type"text" name="daegu"> <br>
    인천 : <input type"text" name="incheon"> <br>
    광주 : <input type"text" name="gwangju"> <br>
    대전 : <input type"text" name="daejeon"> <br>
    울산 : <input type"text" name="ulsan"> <br>
    세종 : <input type"text" name="sejong"> <br>
    경기 : <input type"text" name="gyeonggi"> <br>
    강원 : <input type"text" name="kyeongwon"> <br>
    충북 : <input type"text" name="chungbuk"> <br>
    충남 : <input type"text" name="chungnam"> <br>
    전북 : <input type"text" name="jeonbuk"> <br>
    전남 : <input type"text" name="jeonnam"> <br>
    경북 : <input type"text" name="kyeongbuk"> <br>
    경남 : <input type"text" name="kyeongnam"> <br>
    제주 : <input type"text" name="jeju"> <br>
    합계 : <input type"text" name="all"> <br>
    <input type="submit" value="UP">
</form>